/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@include transition(all 0.2s ease-in-out);

	a, a:visited {
		&:hover, &:focus {
			color: $ls-purple;
			background-color: transparent;
		}
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	@include transition(all 0.3s ease-in-out);
}


/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.desktop-nav {
	display: block;
}

ul.header-nav {
		
	&>li {
			
		// For all links and submenus
		a {
			@include transition(all 0.3s ease-in-out);
			
			&:hover {
				color: $white;
				background-color: $ls-purple;
				cursor: pointer;
			}
		}
		
		// Hover effect on header nav items
		&:hover {
			background-color: $ls-purple;
			cursor: pointer;
			
			// Reveal sub-menu on hover
			& .sub-menu {
				visibility: visible;
				@include opacity(1);
			}
		}
	}
}
	
	.left-header-nav {
		
		ul.header-nav {
			&>li:hover {
				.sub-menu {
					left: 0;
				}
			}
		}
		
		.sub-menu {
			left: 2em;	
		}
	}
	
	.right-header-nav {
		text-align: right;
		
		ul.header-nav >li {
			&:hover {
				.sub-menu {
					right: 0;
				}
			}
		}
		
		.sub-menu {
			right: 2em;

			&>li>a {
				min-width: 8em;
			} 
		}
	}
	
		.sub-menu {
			visibility: hidden;
			@include opacity(0);
			@include transition(all 0.2s ease-in-out);
			
			&>li {
				display: block;
				background-color: $dark-gray;
				background-color: rgba(0,0,0, 0.7);
				
				&>a, &>div {
					min-width: 12em;
					padding: 0.5em 1em;
				}
			}
			
			// Highlights the active navigation header for this menu
			&:hover ul.header-nav>li>a {
				background-color: $ls-purple;
			}
		}
		
		.sub-menu-featured-article {
			width: 450px;
			
			img {
				width: $featured-articles-img-size;
			}
		
			div {
				width: 300px;
			}
		}
		
	/* Menu Search */
	.search-box-container {
		background-color: transparent;
		width: 17em;
	
		&:hover {
			& input[type="text"] {
				background-color: $dark-gray;
				background-color: rgba(0,0,0, 0.5);
			}
		}
		
		.search-form {
	
			input[type="text"] {
				border-radius: none;
				-webkit-appearance: none;
				color: white;
				width: 100%;
		
				&:focus {
					background-color: $black;
				}
			}
		}
	
		.search-submit {
			margin-top: 0.5em;
			margin-bottom: 0;
		}
	} /* End Menu Search */

.mobile-nav {
	display: none;
}


/**********************
POSTS & CONTENT STYLES
***********************/

#writtenByBox {
	a {
		img {
			@include img-hover-effect;
		}
	}
	
	.author {
		a {
			@include link-hover-effect;
		}
	}
}

.header-image {
	height: $article-header-image-large;
	background-attachment: fixed;
	
	
	&.short-header-image {
		height: $short-header-image-large;
	}
}

.entry-content {
	
	a {
		&:hover {
			@include link-hover-effect;
		}
			
		img {
			@include img-hover-effect;
		}
	}
	
	.addtoany_share_save_container {
		@include opacity(0.5);
		@include transition(all 0.3s ease-in-out);
		
		&:hover {
			@include opacity(1);
		}
		
		a {
			@include transition(all 0.3s ease-in-out);
			
			&:hover {
				background-color: transparent;
			}
		}
	}
	
	.gallery {
		a {
			&:hover {
				background-color: transparent;
			}
		}
	}
}

	
.article-footer {
	a {
		@include link-hover-effect;
	}
}
	
	
/*********************
AUTHOR BIO BOX
*********************/
.author-bio-box-avatar {
	a {
		img {
			@include img-hover-effect;
		}
	}
}

h4.author-bio-box-position {
	a {
		color: $link-color;
		@include link-hover-effect;
	}
}
	
ul.author-bio-box-social-media {
	a {
		@include link-hover-effect;
	}
}


/***********************
RELATED CONTENT
***********************/

.related-content {
	a {
		img {
			@include img-hover-effect;
		}
		
		h5 {
			&:hover {
				color: $link-color;
			}
		}
	}
}
	

/******************************************************************
COMMENT STYLES
******************************************************************/


.commentlist {

	/* comment reply link */
	.comment-reply-link {
		@include transition(all 0.3s ease-in-out);
		
	} /* end .commentlist .comment-reply-link */
	
	
	li {
		ul.children {
			margin: 0 0 0 2em;
		}
	}

} /* end .commentlist */




/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {

	form {
		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			
		}
	}
	
	&:hover #cancel-comment-reply a {
		color: $ls-purple;
	}
	
	&:hover input[type=text],
	&:hover	input[type=email],
	&:hover	input[type=url],
	&:hover	textarea {
		background: $white;
		background: rgba(255,255,255, 0.7);
	}
}

	#cancel-comment-reply a {
		@include transition(all 0.3s ease-in-out);
	}



/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 8em;
	padding-left: 1em;
}

#inner-content.post-select-page {
	.sidebar {
		margin-top: 0;
	}
}

	.widgettitle {
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0 10em;

		ul {
			list-style: disc;
			margin-left: 1em;
			
			&.no-bullets {
				list-style: none;
				margin-left: 0;
			}
		
			li {
				&:first-child {}
				&:last-child {}
				a { }
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
		
		a {
			@include link-hover-effect; 
			
			img {
				@include img-hover-effect;
			}
		}
		
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		
			a, a:visited {
				&:hover, &:focus {
					color: $ls-purple;
					background-color: transparent;
				}
			}
		}
	}

	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}
	
	/* Recommended Content */
	#widget-recommend {}
	.recommended-post {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */



/*********************
ARTICLE EXCERPT BOX
*********************/

.article-excerpt-box {
	height: 40em;
	
	.article-excerpt-image { 
		height: $article-key-image-medium-screen;
		@include transition(all 0.25s ease-in);
	}
	
	&:hover .article-excerpt-image {
		background-position-y: -50px;
	}
	
	&.no-sidebar {
		
		.article-excerpt-image {
			height: $article-key-image-large-screen;	
		}
	}

	.article-meta {
		a {
			@include link-hover-effect;
		}
	}
}



/*********************
CUSTOM PAGE STYLES
*********************/

/* TOP PAGE */
/* -------- */


/* 404 NOT FOUND */
/* ------------- */

#post-not-found {
	
	&:hover {
		.search-form {
			input[type="text"] {
				background-color: $white;
			}
		}
	}
}

