/******************************************************************
Site Name: Lightspeed
Author: Adam Toda
Contact: adam.toda@gmail.com

Stylesheet: Constants Stylesheet

******************************************************************/


/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$bones-pink:        #f01d4f;
$bones-blue:        #1990db;

$darker-gray: 		#292929;
$dark-gray: 		#3e3e3e;
$medium-gray:		#8b8b8b;
$light-gray:		#c3c3c3;
$lighter-gray: 		#f1f1f1;
$ls-purple:			#7c4d9e;
$ls-dark-purple:	#2f2772;

$body-text-color:	$darker-gray;
$medium-text-color:	#6f6f6f;
$light-text-color:	#8f8f8f;
$colored-text:		$ls-purple;
$line-color:		$light-gray;

$link-color:        $ls-purple;
$link-hover:        darken($link-color, 9%);

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/


/*********************
TYPOGRAPHY
*********************/

$normal:			300;
$bold:				500;
$bolder:			700;

$sans-serif-ja:		"Hiragino Kaku Gothic Pro", Kozuka Gothic, Meiryo, "MS PGothic", sans-serif;
$serif-ja:			"Hiragino Mincho Pro", "Kozuka Mincho", "MS PMincho", "MS Mincho", serif;
$sans-serif-title:	"Museo", "Century Gothic", "Helvetica Neue", Helvetica, Arial, $sans-serif-ja;
$sans-serif:        "Museo", "Century Gothic", "Helvetica Neue", Helvetica, Arial, $sans-serif-ja;
$serif:             "Georgia", "Garamond", "Adobe Garamond Pro", Cambria, Times New Roman, Times, $sans-serif-ja;
$tagline-fonts:		"Helvetica Neue", Helvetica, Century Gothic, Tahoma, Arial, $sans-serif-ja;

$h1-top-margin: 	0.67em;

/*********************
IMAGE SIZES
*********************/

/* AVATAR SIZES */
$small-avatar: 		2.5em;
$medium-avatar: 	3.5em;
$large-avatar: 		5em;

/* HEADER IMAGE SIZES */
$article-header-image-small: 	15em;
$article-header-image-medium: 	20em;
$article-header-image-large: 	25em;
$article-header-image-xlarge: 	30em;
$article-header-image-xxlarge: 	40em;

/* TOP PAGE HEADER IMAGE SIZES */
$short-header-image-small: 	15em;
$short-header-image-medium: 	15em;
$short-header-image-large: 	18em;
$short-header-image-xlarge: 	20em;
$short-header-image-xxlarge: 30em;

/* TOP PAGE ARTICLE LIST IMAGE SIZES */
$article-key-image-small-screen: 15em;
$article-key-image-medium-screen: 10em;
$article-key-image-large-screen: 15em;

/* TOP PAGE ARTICLE LIST IMAGE SIZES */
$featured-articles-img-size: 	4.5em;

/*********************
LAYOUT
*********************/

/* CONTENT OVERLAP EFFECT */
$content-overlap-margin: 		10em;

/* LEFT MARGIN */
$left-margin: 					120px;

/* INNER ARTICLE EXCERPT BOX GRID */
$three-col-width: 		30%;
$three-col-margin: 		3.33%;

$two-col-width:			45%;
$two-col-margin:		5%;

/* RIGHT/LEFT ALIGN MARGIN */
$content-alignment-margin-h:	1.5em;
