/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/

/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/

// import constants
@import "constants";

/* import mixins */
@import "mixins";

@import "grid";
@import "481up";
@import "768up";
@import "1030up";

/* 
you can call the larger styles if you want, but there's really no need 
*/


/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/

/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:

.lt-ie9 .class { ... }

*/


/******************
HEADER AND NAV
******************/

.lt-ie9 .left-header-nav {
		
	ul.header-nav {
		&>li:hover {
			.sub-menu {
				left: 0;
			}
		}
	}
		
	.sub-menu {
		left: 0;	
	}
}
	
.lt-ie9 .right-header-nav {

	ul.header-nav >li {
		&:hover {
			.sub-menu {
				right: 0;
			}
		}
	}
		
	.sub-menu {
		right: 0;
	}
}

.lt-ie9 ul.header-nav {
			
	&>li {	
		&:hover {
			.sub-menu {
				display: block;
				@include opacity(0.85);
			}
		}
	}
}

.lt-ie9 .sub-menu {
	display: none;	
	@include opacity(0.85);
}


/**********************
TAGLINE
**********************/

.lt-ie9 #tagline {
	@include opacity(0.85);
}



/*********************
ARTICLE EXCERPT BOX
*********************/

.lt-ie9 .article-excerpt-box {
	
	.article-excerpt-image {
		background-color: $dark-gray;
		background-repeat: no-repeat;
		background-position: center center;
		@include background-size(100% auto);
		
		&:hover {
			@include opacity(0.7);
		}
	}
}



/**********************
FORM LABELS
**********************/

.lt-ie9 form {
	label.no-placeholder {
		display: block;
	}
}

